:root {
  box-sizing: border-box;
}

* {
  font-family: 'SF Pro Text', 'Hiragino Sans', sans-serif;
}

body {
  background-color: $gray-5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

h1 {
  font-family: 'SF Pro Display', 'Hiragino Sans', sans-serif;
  font-weight: 900; // Heavy
  font-size: 30pt;
}

h2 {
  font-family: 'SF Pro Display', 'Hiragino Sans', sans-serif;
  font-weight: bold;
  font-size: 26pt;
}

h3 {
  font-family: 'SF Compact Display', 'Hiragino Sans', sans-serif;
  font-weight: bold;
  font-size: 24pt;
}

h4 {
  font-family: 'SF Compact Display', 'Hiragino Sans', sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

h5 {
  font-family: 'SF Compact Display', 'Hiragino Sans', sans-serif;
  font-weight: 600; // Semi Bold;
  font-size: 14pt;
}
